input {
  font-family: 'JetBrains Mono', monospace;
}

input[type="password"] {
  display: flex;
  flex-direction: row;
  border: none;
  font-size: var(--h2-heading-m);
}

#checkbox {
    display: flex;
}

#checkbox.container {
    flex-direction: column;
    justify-content: start;
    width: 540px;
    height: 80px;
    padding: 0 15px;
    margin-bottom: 50px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--darkgrey);
    border-radius: 0;
    border: 1px solid var(--white);
    cursor: pointer;
}

label {
    cursor: pointer;
}

span {
  margin-right: 15px;
}


input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    vertical-align: middle;
    margin-right: 30px;
    line-height: 2.5;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: var(--darkgrey);
    height: 20px;
    width: 20px;
    border: 1px solid var(--white);
    border-radius: 0;
    line-height: 2.5;
}

input[type=checkbox] + label:before {
    border-radius: 0;
}

input[type=checkbox]:checked + label:before {
    background: var(--neongreen);
    content:  "\2713";
    color: var(--darkgrey);
    text-align: center;
}


form {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-right: 30px;
    line-height: 2.5;
    padding-right: 20px;
  }
  
  form .check-box-effect {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: 1px solid var(--white);
    border-radius: 0;
  }
  
  form .check-box-effect:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: var(--darkgrey);
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  
  form .check-box-effect:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: var(--darkgrey);
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  
  form:hover .check-box-effect:before {
    width: 5px;
    transition: width 100ms ease;
  }
  
 form:hover .check-box-effect:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .check-box-effect {
    background-color: var(--neongreen) !important;
    transform: scale(1.25);
  }
  
  input[type="checkbox"]:checked + .check-box-effect:after {
    width: 10px;
    background: #333;
    transition: width 150ms ease 100ms;
  }
  
  input[type="checkbox"]:checked + .check-box-effect:before {
    width: 5px;
    background: #333;
    transition: width 150ms ease 100ms;
  }
  
  input[type="checkbox"]:checked:hover + .check-box-effect {
    background-color: #dcdcdc;
    transform: scale(1.25);
  }
  
  input[type="checkbox"]:checked:hover + .check-box-effect:after {
    width: 10px;
    background: #333;
    transition: width 150ms ease 100ms;
  }
  
  input[type="checkbox"]:checked:hover + .check-box-effect:before {
    width: 5px;
    background: #333;
    transition: width 150ms ease 100ms;
  }