@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
/* GENERAL SETTINGS*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--verydarkgrey);
}

/* - COLORS - */

:root {
    --background: #18171F;
    --white: #E6E5EA;
    --verydarkgrey: #18171F;
    --darkgrey: #24232C;
    --grey: #817D92;
    --neongreen: #A4FFAF;
    --red: #F64A4A;
    --orange: #FB7C58;
    --yellow: #F8CD65;
}


/* - FONT AND TYPOGRAPHY - */
:root {
    --body-font: 'JetBrains Mono', monospace;
    --heading-l: 32px;
    --h2-heading-l: 43px;
    --heading-m: 24px;
    --h2-heading-m: 31px;
    --body: 18px;
    --h2-body: 23px;
}

/* LETTERS */

h1,
h2,
h3,
h4,
h5,
h6,
label, 
p {
    font-family: 'JetBrains Mono', monospace;
}

/* HEADER */

#header {
    text-align: center;
    color: var(--grey);
    font-size: var(--heading-m);
    margin: 120px 0 30px;
}

#title h2 {
    font-size: var(--heading-m);
}

/* MAIN */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PASSWORD */

#password {
    background-color: var(--darkgrey);
    color: var(--white);
    display: flex;
}

#password.container {
    flex-direction: row;
    width: 540px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 25px;
}

#password h2 {
    font-size: var(--h2-heading-m);
}

#password i {
    color: var(--neongreen);
    width: 50px;
    height: auto;
    text-align: center;
}

#textbox {
    border: none;
    opacity: 100%
}

/* MAIN2 */

#main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    color: var(--white);
    display: flex;
    margin: 20px 0;
    width: 540px;
    height: 500px;
}

/* CHARACTER */

#character {
    display: flex;
}

#character.container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    height: 80px;
    padding: 15px 15px;
}

#character h2 {
    font-size: var(--body);
}

#character p {
    font-size: var(--heading-l);
    color: var(--neongreen);
}

/* STATUS BAR */

#statusbar input {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  color: var(--neongreen);
  margin-bottom: 40px;
}

input[type="number"] {
    width: 40px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    margin-left: 15px;
    width: 510px;
    height: 7px;
    background: var(--background);
    /*background-image: linear-gradient(var(--neongreen), var(--neongreen));
    background-size: 50% 100%;
    background-repeat: no-repeat;*/
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--white);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--white);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--white);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background:var(--neongreen);
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: var(--neongreen);
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: var(--neongreen);
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

/* CHECKBOX - FORM.CSS */

/* STRENGTH */

#strength {
    display: flex;
}

#strength.container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verydarkgrey);
    padding: 0 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 476px;
    height: 100px;
}

#strength h2 {
    font-size: var(--heading-m);
    color: var(--white);
}

#strength h3 {
    font-size: var(--body);
    color: var(--grey);
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.status h2 {
    margin-right: 10px;
}

.statusbar {
    display: flex;
}

/*.vl {
    flex-direction: row;
    border: 5px solid var(--yellow);
    fill: var(--yellow);
    height: 28px;
    width: 10px;
    margin: 5px;
}*/

.vl {
    flex-direction: row;
    border: 2px solid var(--white);
    height: 28px;
    width: 10px;
    margin: 5px;
}

/* BUTTON */

#button {
    display: flex;
    width: 476px;
    height: 100px;
}

#button.container {
    flex-direction: row;
    justify-content: center;
    row-gap: 40px;
    align-items: center;
    background-color: var(--neongreen);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 476px;
    height: 100px;
}

#button h2 {
    margin-right: 10px;
}

#button h2, 
#button i {
    font-size: var(--body);
    color: var(--darkgrey);
}


